{% extends '@templates/layouts/app.twig' %}

{% block title %}
    Fragum Framework
{% endblock %}

{% block content %}
<section class="uk-section uk-section-muted">
    <div class="uk-container">
        {#
        <h1>Startpage twig</h1>
        <h1>{{ headline }}</h1>
        #}

        <div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid="" data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
            <div class="uk-first-column uk-scrollspy-inview uk-animation-slide-left-medium" style="">
                <img src="/assets/img/code_review.svg" alt="" data-uk-img="">
            </div>
            <div data-uk-scrollspy-class="uk-animation-slide-right-medium" class="uk-scrollspy-inview uk-animation-slide-right-medium" style="">
                <h1 class="uk-text-primary">
                    <img src="{{ url }}assets/img/logo-200x200.png" style="height: 30px;"><span style="color: #000; line-height:30px;">ragum.</span><strong style="color: #028174; line-height:30px;"><img src="{{ url }}assets/img/logo-200x200.png" style="height: 30px;">ramework</strong></h1>
                <h2 class="uk-margin-small-top">a micro framework for PHP</h2>
                <p class="subtitle-text">
                    <span style="color: #000">fragum.</span><strong style="color: #028174">framework</strong> is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs
                </p>
                <div class="uk-grid uk-child-width-1-2@s" data-uk-grid="">
                    <div class="uk-first-column">
                        <h4>Great stuff</h4>
                        <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                    </div>
                    <div>
                        <h4>Data analysis</h4>
                        <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

