{% extends '@templates/layouts/app.twig' %}

{% block title %}
    fragum framework
{% endblock %}

{% block content %}
<section class="uk-section uk-section-muted">
    <div class="uk-container">
        <h1>Startpage twig</h1>
        <h1>{{ headline }}</h1>
    </div>
</section>
{% endblock %}

