{% extends  '@templates/layouts/app.twig' %}

{% block title %}
    404: Page not found
{% endblock %}

{% block content %}
    <div class="uk-container">
        <p style="display: block"><h1>404: az oldal nem található</h1></p>
        <button class="uk-button uk-button-default uk-button-large">Vissza a kezdőlapra</button>
    </div>

    <div class="uk-container">

    </div>
{% endblock %}
