<header class="uk-background-secondary" uk-sticky="show-on-up: true; animation: uk-animation-slide-top">

    <div class="uk-container">
        <nav class="uk-navbar-transparent " data-uk-navbar>
            <div class="uk-navbar-left">
                <img src="assets/img/logo-200x200.png" style="height: 30px;">
                <a class="uk-navbar-item uk-logo" href="#"><span style="color: #fff">fragum.</span><strong style="color: #028174">tech</strong></a>
            </div>
            <div class="uk-navbar-right uk-visible@m">
                <ul class="uk-navbar-nav">
                    <li class=""><a href="">Főoldal</a></li>
                    <!--
                    <li>
                        <a href="#">Collections <span data-uk-icon="icon: triangle-down"></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">Landscape</a></li>
                                <li><a href="#">Nature</a></li>
                                <li><a href="#">Social</a></li>
                                <li><a href="#">Urban</a></li>
                                <li><a href="#">Music</a></li>
                            </ul>
                        </div>
                    </li>-->
                    <li><a href="rolunk">Rólunk</a></li>
                </ul>
            </div>

        </nav>
    </div>

</header>
<!--/HEADER-->